/* Google-Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");

/* Custom Variables */
:root {
  /* Fonts */
  --family-font1: "Space Mono", monospace;
  --family-font2: "Poppins", sans-serif;

  /* Colors */
  --nav-bg-color: #fff3f6;
  --nav-border-color: #eac0ca;
  --nav-font-color: #111111;

  /* Button */
  --btn-bg-color: #111111;
  --btn-border-color: #111111;
  --btn-color: #ffffff;
  --btn-hover-bg: #eac0ca;

  /* background-color */
  --bg-color: #eac0ca;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Custom Scroll-Bar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: floralwhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--nav-border-color);
}
